<a href="https://colab.research.google.com/github/absabry/Pyspark-tutorial/blob/master/3.%20Working_with_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with columns

## Download and install Spark

In [1]:
!ls

reported-crimes.csv  spark-2.3.1-bin-hadoop2.7	    spark-warehouse
sample_data	     spark-2.3.1-bin-hadoop2.7.tgz

In [0]:
#!apt-get update
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
#!tar xf spark-2.3.1-bin-hadoop2.7.tgz
#!pip install -q findspark

## Setup environment

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

import findspark
findspark.init()
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

## Downloading and preprocessing Chicago's Reported Crime Data

In [0]:
#!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD
#!ls -l

In [0]:
#!mv rows.csv\?accessType\=DOWNLOAD reported-crimes.csv
#!ls -l

In [3]:
from pyspark.sql.functions import to_timestamp,col,lit
rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
rc.show(5)

+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|     ID|Case Number|               Date|               Block|IUCR|       Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|5324759|   HM564643|2006-08-27 01:04:34|  029XX N PULASKI RD|1310|    CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|2523|     025|  31|            21|      14|     1149217|     1919198|2006|02/28/2018 03:56:...|41.934206478|-87.727044563|(41.934206478, -8...|
|5324762|   HN185785|2007-02-19 18:00:00|062XX W CORNELIA AVE|0920|MOTOR VEHICLE THEFT|     ATT: AUTOMOBILE|              STREET| false|   false|1633|     016|  36|            17|      07|     1134118|     1922619|2007|02/28/2018 03:56:...|41.943873678|-87.782453204|(41.943873678, -8...|
|5324766|   HN184408|2007-02-19 11:02:12|091XX S UNIVERSIT...|0460|            BATTERY|              SIMPLE|              STREET|  true|   false|0413|     004|   8|            47|     08B|     1185475|     1844606|2007|02/28/2018 03:56:...|41.728740563|-87.596150779|(41.728740563, -8...|
|5324767|   HN185514|2007-02-19 23:23:16|   038XX W NORTH AVE|1506|       PROSTITUTION|SOLICIT ON PUBLIC...|              STREET|  true|   false|2535|     025|  30|            23|      16|     1150789|     1910366|2007|02/28/2018 03:56:...|41.909940034|-87.721499025|(41.909940034, -8...|
|5324768|   HN184854|2007-02-19 15:30:00|090XX S MARSHFIEL...|0486|            BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|2221|     022|  21|            73|     08B|     1166926|     1844740|2007|02/28/2018 03:56:...| 41.72952412|-87.664096049|(41.72952412, -87...|
+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

## Working with columns

**Display only the first 5 rows of the column name IUCR **

In [4]:
rc.select('IUCR').show(5)

+----+
|IUCR|
+----+
|1310|
|0920|
|0460|
|1506|
|0486|
+----+
only showing top 5 rows

In [5]:
rc.select(rc.IUCR).show(5)

+----+
|IUCR|
+----+
|1310|
|0920|
|0460|
|1506|
|0486|
+----+
only showing top 5 rows

In [6]:
rc.select(col('IUCR')).show(5)

+----+
|IUCR|
+----+
|1310|
|0920|
|0460|
|1506|
|0486|
+----+
only showing top 5 rows

  **Display only the first 4 rows of the column names Case Number, Date and Arrest**

In [7]:
rc.select('Case Number', 'Date', 'Arrest').show(4)

+-----------+-------------------+------+
|Case Number|               Date|Arrest|
+-----------+-------------------+------+
|   HM564643|2006-08-27 01:04:34| false|
|   HN185785|2007-02-19 18:00:00| false|
|   HN184408|2007-02-19 11:02:12|  true|
|   HN185514|2007-02-19 23:23:16|  true|
+-----------+-------------------+------+
only showing top 4 rows

In [8]:
rc.select(col('Case Number'), col('Date'), col('Arrest')).show(4)

+-----------+-------------------+------+
|Case Number|               Date|Arrest|
+-----------+-------------------+------+
|   HM564643|2006-08-27 01:04:34| false|
|   HN185785|2007-02-19 18:00:00| false|
|   HN184408|2007-02-19 11:02:12|  true|
|   HN185514|2007-02-19 23:23:16|  true|
+-----------+-------------------+------+
only showing top 4 rows

** Add a column with name One, with entries all 1s **

In [0]:
from pyspark.sql.functions import lit

In [14]:
rc.withColumn('One', lit(1) ).show(5)

+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|     ID|Case Number|               Date|               Block|IUCR|       Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|One|
+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|5324759|   HM564643|2006-08-27 01:04:34|  029XX N PULASKI RD|1310|    CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|2523|     025|  31|            21|      14|     1149217|     1919198|2006|02/28/2018 03:56:...|41.934206478|-87.727044563|(41.934206478, -8...|  1|
|5324762|   HN185785|2007-02-19 18:00:00|062XX W CORNELIA AVE|0920|MOTOR VEHICLE THEFT|     ATT: AUTOMOBILE|              STREET| false|   false|1633|     016|  36|            17|      07|     1134118|     1922619|2007|02/28/2018 03:56:...|41.943873678|-87.782453204|(41.943873678, -8...|  1|
|5324766|   HN184408|2007-02-19 11:02:12|091XX S UNIVERSIT...|0460|            BATTERY|              SIMPLE|              STREET|  true|   false|0413|     004|   8|            47|     08B|     1185475|     1844606|2007|02/28/2018 03:56:...|41.728740563|-87.596150779|(41.728740563, -8...|  1|
|5324767|   HN185514|2007-02-19 23:23:16|   038XX W NORTH AVE|1506|       PROSTITUTION|SOLICIT ON PUBLIC...|              STREET|  true|   false|2535|     025|  30|            23|      16|     1150789|     1910366|2007|02/28/2018 03:56:...|41.909940034|-87.721499025|(41.909940034, -8...|  1|
|5324768|   HN184854|2007-02-19 15:30:00|090XX S MARSHFIEL...|0486|            BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|2221|     022|  21|            73|     08B|     1166926|     1844740|2007|02/28/2018 03:56:...| 41.72952412|-87.664096049|(41.72952412, -87...|  1|
+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
only showing top 5 rows

** Remove the column IUCR **

In [16]:
rc.drop('IUCR').columns

['ID',
 'Case Number',
 'Date',
 'Block',
 'Primary Type',
 'Description',
 'Location Description',
 'Arrest',
 'Domestic',
 'Beat',
 'District',
 'Ward',
 'Community Area',
 'FBI Code',
 'X Coordinate',
 'Y Coordinate',
 'Year',
 'Updated On',
 'Latitude',
 'Longitude',
 'Location']